pack_type_dim = 5
pack_offer_dim = 5

count_dim = 8

hidden_size = 256
initial_channels = 32

learning_rate = 1e-3
weight_decay = 0

base_path = 'data/model_baseline_cnn'
checkpoint_freq = 5000
log_freq = 1000

only_winner_data = True
exclude_special_fans = True
batch_size = 64
num_epoch_steps = 50000
num_epochs = 10