pack_type_dim = 5
pack_offer_dim = 5

count_dim = 8

hidden_size = 256
initial_channels = 32

learning_rate = 1e-4
weight_decay = 0

base_path = 'data/model_rl_baseline'
checkpoint_freq = 1000
log_freq = 1

discount = 0.99
value_coef=0.25
entropy_coef=0.01
batch_size = 128

clip_grads_norm = 50.0

only_win_data = False
use_extra_reward = False
use_fixed_agent = True

update_n_agent_eps = 32
update_p_agent_freq = 1000